.table{
    width: calc(100% - 32px);
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
margin-bottom: 25px;
}
.midlle{
    background-color: gray;
    width: 100%;
    justify-content: center;
        align-items: center;
        text-align:center;
            border: 2px solid black;
}
.li {
    width: 100%;
    text-align: center;
        border: 2px solid black;
}
.header{
    background-color: black;
        border: 2px solid black;
    
}
.item{
    color: white;
}
.midle{
    border-left:2px solid black ;
    border-right: 2px solid black;
}